openapi: 3.0.2
info:
  contact:
    email: spond@temple.edu
    url: http://github.com/veg/api-datamonkey
  description: |
    Datamonkey is a free public server for comparative analysis of sequence alignments using state-of-the-art statistical models. <br> This is the OpenAPI definition for the Datamonkey API.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  title: Datamonkey API
  version: 1.0.0
  x-logo:
    url: https://raw.githubusercontent.com/veg/datamonkey-js/refs/heads/master/public/assets/img/header-logo.svg
    altText: Datamonkey.org logo
externalDocs:
  description: Use Datamonkey today!
  url: https://datamonkey.org
servers:
- url: http://datamonkey.org/api/v1
- url: https://datamonkey.org/api/v1
tags:
- description: Check health of Datamonkey server
  name: Health
- description: Examples uploading files to Datamonkey
  name: File Upload and QC
- description: Examples starting jobs and fetching results for FEL
  name: FEL
- description: Examples starting jobs and fetching results for BUSTED
  name: BUSTED
- description: Examples starting jobs and fetching results for ABSREL
  name: ABSREL
- description: Examples starting jobs and fetching results for BGM (Bayesian Graphical
    Model)
  name: BGM
- description: Examples starting jobs and fetching results for CONTRAST-FEL (Fixed
    Effects Likelihood with Contrast)
  name: CONTRAST-FEL
- description: Examples starting jobs and fetching results for FUBAR (Fast Unconstrained
    Bayesian AppRoximation)
  name: FUBAR
- description: Examples starting jobs and fetching results for GARD (Genetic Algorithm
    for Recombination Detection)
  name: GARD
- description: Examples starting jobs and fetching results for MEME (Mixed Effects
    Model of Evolution)
  name: MEME
- description: Examples starting jobs and fetching results for MULTI-HIT (Multiple
    Hit) analysis
  name: MULTI-HIT
- description: Examples starting jobs and fetching results for RELAX (Hypothesis testing
    framework to detect relaxation of selection)
  name: RELAX
- description: Examples starting jobs and fetching results for SLAC (Single Likelihood
    Ancestor Counting) analysis
  name: SLAC
- description: Examples building codon-aware alignments from uploaded data. Somewhere
    over the rainbow..
  name: Codon Aware Alignments
- description: Examples building phylogenetic trees from uploaded data. Somewhere
    over the rainbow..
  name: Tree Building
paths:
  /health:
    get:
      operationId: getHealth
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Health'
          description: Success
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Health'
          description: Unable to get health. Internal server error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Health'
          description: Unable to get health. Service unavailable
      summary: Check health of Datamonkey
      tags:
      - Health
  /methods/fel-start:
    post:
      operationId: startFELJob
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FelRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
          description: Success
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDataError'
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Start and monitor a FEL job
      tags:
      - FEL
  /methods/fel-result:
    post:
      operationId: getFELJob
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FelRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FelResult'
          description: Success
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Get a FEL job result
      tags:
      - FEL
  /methods/busted-start:
    post:
      operationId: startBUSTEDJob
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BustedRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
          description: Success
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDataError'
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Start and monitor a BUSTED job
      tags:
      - BUSTED
  /methods/busted-result:
    post:
      operationId: getBUSTEDJob
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BustedRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BustedResult'
          description: Success
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Get a BUSTED job result
      tags:
      - BUSTED
  /methods/absrel-start:
    post:
      operationId: startABSRELJob
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AbsrelRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
          description: Success
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDataError'
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Start and monitor an ABSREL job
      tags:
      - ABSREL
  /methods/absrel-result:
    post:
      operationId: getABSRELJob
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AbsrelRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AbsrelResult'
          description: Success
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Get an ABSREL job result
      tags:
      - ABSREL
  /methods/meme-start:
    post:
      operationId: startMEMEJob
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemeRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
          description: Success
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDataError'
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Start a MEME analysis
      tags:
      - MEME
  /methods/meme-result:
    post:
      operationId: getMEMEJob
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemeRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemeResult'
          description: Success
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Get MEME analysis results
      tags:
      - MEME
  /methods/relax-start:
    post:
      operationId: startRELAXJob
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RelaxRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
          description: Success
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDataError'
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Start and monitor a RELAX job
      tags:
      - RELAX
  /methods/relax-result:
    post:
      operationId: getRELAXJob
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RelaxRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelaxResult'
          description: Success
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Get RELAX analysis results
      tags:
      - RELAX
  /methods/gard-start:
    post:
      operationId: startGARDJob
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GardRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
          description: Success
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDataError'
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Start a GARD analysis
      tags:
      - GARD
  /methods/gard-result:
    post:
      operationId: getGARDJob
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GardRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GardResult'
          description: Success
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Get GARD analysis results
      tags:
      - GARD
  /methods/bgm-start:
    post:
      operationId: startBGMJob
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BgmRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
          description: Success
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDataError'
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Start and monitor a BGM job
      tags:
      - BGM
  /methods/bgm-result:
    post:
      operationId: getBGMJob
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BgmRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BgmResult'
          description: Success
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Get a BGM job result
      tags:
      - BGM
  /methods/contrast-fel-start:
    post:
      description: "Starts a Contrast-FEL (Fixed Effects Likelihood with Contrast)\
        \ job to investigate whether selective pressures differ \nbetween two or more\
        \ sets of branches at a site. The method estimates site-specific synonymous\
        \ (alpha) and \nnon-synonymous (beta, one per branch set) substitution rates\
        \ and tests beta rates for equality at each site.\n"
      operationId: startCONTRASTFELJob
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContrastFelRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
          description: Success
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDataError'
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Start a CONTRAST-FEL analysis
      tags:
      - CONTRAST-FEL
  /methods/contrast-fel-result:
    post:
      description: "Retrieves the results of a previously submitted CONTRAST-FEL job.\
        \ CONTRAST-FEL investigates whether \nselective pressures differ between two\
        \ or more sets of branches at a site by estimating site-specific \nsynonymous\
        \ and non-synonymous substitution rates.\n"
      operationId: getCONTRASTFELJob
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContrastFelRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContrastFelResult'
          description: Success
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Get CONTRAST-FEL analysis results
      tags:
      - CONTRAST-FEL
  /methods/fubar-start:
    post:
      description: |
        Starts a Fast Unconstrained Bayesian AppRoximation (FUBAR) job to detect sites under positive selection.
        FUBAR uses a Bayesian approach to infer selection pressures at individual sites, providing posterior
        probabilities of positive and negative selection.
      operationId: startFUBARJob
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FubarRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
          description: Success
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDataError'
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Start a FUBAR analysis
      tags:
      - FUBAR
  /methods/fubar-result:
    post:
      description: |
        Retrieves the results of a previously submitted Fast Unconstrained Bayesian AppRoximation (FUBAR) job.
        FUBAR uses a Bayesian approach to infer selection pressures at individual sites, providing posterior
        probabilities of positive and negative selection.
      operationId: getFUBARJob
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FubarRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FubarResult'
          description: Success
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Get FUBAR analysis results
      tags:
      - FUBAR
  /methods/multihit-start:
    post:
      description: "MULTI-HIT (Multiple Hit) examines whether or not a codon alignment\
        \ is better fit by models \nwhich permit multiple instantaneous substitutions.\
        \ It can analyze both double-hit and \ntriple-hit substitutions, with an option\
        \ to account for synonymous triple-hit substitutions.\n"
      operationId: startMULTIHITJob
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultihitRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
          description: Success
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDataError'
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Start a MULTI-HIT analysis
      tags:
      - MULTI-HIT
  /methods/multihit-result:
    post:
      description: |
        Retrieve the results of a previously submitted MULTI-HIT analysis job.
        Results include evidence ratios for different substitution types, site-specific substitutions,
        model fitting information, and statistical test results comparing different models.
      operationId: getMULTIHITJob
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultihitRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultihitResult'
          description: Success
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Get MULTI-HIT analysis results
      tags:
      - MULTI-HIT
  /methods/slac-start:
    post:
      description: |
        SLAC (Single Likelihood Ancestor Counting) uses a maximum likelihood ancestral state reconstruction
        and minimum path substitution counting to estimate site-level dS and dN, and applies a simple
        binomial-based test to test if dS differs from dN. The estimates aggregate information over all branches,
        so the signal is derived from pervasive diversification or conservation.
      operationId: startSLACJob
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SlacRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
          description: Success
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDataError'
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Start a SLAC analysis
      tags:
      - SLAC
  /methods/slac-result:
    post:
      description: |
        Retrieve the results of a previously submitted SLAC (Single Likelihood Ancestor Counting) analysis job.
        Results include model fitting information, branch attributes, and site-specific dN/dS estimates.
      operationId: getSLACJob
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SlacRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlacResult'
          description: Success
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Get SLAC analysis results
      tags:
      - SLAC
  /datasets:
    get:
      operationId: getDatasetsList
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Datasets'
          description: Success
      summary: Get a list of datasets uploaded to Datamonkey
      tags:
      - File Upload and QC
    post:
      operationId: PostDataset
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UploadRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Datasets'
          description: Success
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDataError'
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Upload a dataset to Datamonkey
      tags:
      - File Upload and QC
components:
  schemas:
    Status:
      enum:
      - healthy
      - unhealthy
      - unknown
      type: string
    Health:
      example:
        details:
          slurm: null
          datamonkey: null
        status: healthy
      properties:
        status:
          $ref: '#/components/schemas/Status'
        details:
          $ref: '#/components/schemas/Health_details'
      type: object
    Hash:
      pattern: "^[a-zA-Z0-9]+$"
      type: string
    GeneticCode:
      default: Universal
      description: |
        Available Genetic Codes
      enum:
      - Universal
      - Vertebrate mtDNA
      - Yeast mtDNA
      - Mold/Protozoan mtDNA
      - Invertebrate mtDNA
      - Ciliate Nuclear
      - Echinoderm mtDNA
      - Eupltoid Nuclear
      - Alt. Yeast Nuclear
      - Ascidian mtDNA
      - Flatworm mtDNA
      - Blepharisma Nuclear
      type: string
    FelRequest:
      example:
        genetic_code: Universal
        site_multihit: Estimate
        ci: false
        srv: true
        multiple_hits: None
        tree: tree
        alignment: alignment
        branches:
        - branches
        - branches
        resample: 0.8008281904610115
      properties:
        alignment:
          pattern: "^[a-zA-Z0-9]+$"
          type: string
        tree:
          pattern: "^[a-zA-Z0-9]+$"
          type: string
        ci:
          default: false
          description: Compute confidence intervals for estimated rates
          type: boolean
        srv:
          default: true
          description: Include synonymous rate variation in the model
          type: boolean
        resample:
          default: 0
          description: Number of bootstrap resamples
          type: number
        multiple_hits:
          default: None
          description: Specify handling of multiple nucleotide substitutions
          enum:
          - None
          - Double
          - Double+Triple
          type: string
        site_multihit:
          default: Estimate
          description: Specify whether to estimate multiple hit rates for each site
          enum:
          - Estimate
          - Global
          type: string
        genetic_code:
          $ref: '#/components/schemas/GeneticCode'
        branches:
          default: []
          description: "Branches to include in the analysis. If empty, all branches\
            \ are included."
          items:
            type: string
          type: array
      type: object
    JobStatus:
      example:
        error_message: error_message
        job_id: job_id
        status: queued
      properties:
        job_id:
          pattern: "^[a-zA-Z0-9]+$"
          type: string
        status:
          enum:
          - queued
          - running
          - completed
          - error
          type: string
        error_message:
          type: string
      type: object
    InvalidDataError:
      example:
        errors:
        - field: field
          message: message
        - field: field
          message: message
      properties:
        errors:
          items:
            $ref: '#/components/schemas/InvalidDataError_errors_inner'
          type: array
      type: object
    ServerError:
      example:
        code: code
        details: details
        error: error
      properties:
        error:
          description: A general description of the error.
          type: string
        code:
          description: A unique error code (if available).
          type: string
        details:
          description: Optional details about the error.
          type: string
      type: object
    Email:
      description: User email address
      example: john.smith@example.com
      format: test
      type: string
    AnalysisInfo:
      example:
        settings:
          site_filter: "{}"
        contact: john.smith@example.com
      properties:
        contact:
          description: User email address
          example: john.smith@example.com
          format: test
          type: string
        settings:
          $ref: '#/components/schemas/AnalysisInfo_settings'
      type: object
    InputInfo:
      example:
        trees:
          key: trees
      properties:
        trees:
          additionalProperties:
            type: string
          type: object
      type: object
    TestedBranchesInfo:
      additionalProperties:
        additionalProperties:
          enum:
          - tested
          - background
          type: string
        type: object
      type: object
    TimersInfo:
      additionalProperties:
        $ref: '#/components/schemas/TimersInfo_value'
      type: object
    PartitionsInfo:
      additionalProperties:
        $ref: '#/components/schemas/PartitionsInfo_value'
      type: object
    BaseResponse:
      properties:
        analysis:
          $ref: '#/components/schemas/AnalysisInfo'
        input:
          $ref: '#/components/schemas/InputInfo'
        tested:
          additionalProperties:
            additionalProperties:
              enum:
              - tested
              - background
              type: string
            type: object
          type: object
        timers:
          additionalProperties:
            $ref: '#/components/schemas/TimersInfo_value'
          type: object
        runtime:
          pattern: "^[0-9]+\\.[0-9]+\\.[0-9]+$"
          type: string
        data partitions:
          additionalProperties:
            $ref: '#/components/schemas/PartitionsInfo_value'
          type: object
      type: object
    FelResult:
      example:
        result:
          input:
            trees:
              key: trees
          timers:
            key:
              timer: 6
              order: 0
          data partitions:
            key:
              coverage:
              - - 1
                - 1
              - - 1
                - 1
              name: name
          branch attributes:
            attributes:
              key:
                display order: 4
                attribute type: attribute type
            additionalProperties:
              key:
                Global MG94xREV: 3.616076749251911
                Nucleotide GTR: 2.027123023002322
                original name: original name
          tested:
            key:
              key: tested
          MLE:
            headers:
            - - headers
              - headers
            - - headers
              - headers
            content:
              key:
              - - 7.386281948385884
                - 7.386281948385884
              - - 7.386281948385884
                - 7.386281948385884
          runtime: runtime
          analysis:
            settings:
              site_filter: "{}"
            contact: john.smith@example.com
          fits:
            key:
              Log Likelihood: 2.3021358869347655
              estimated parameters: 9.301444243932576
              Rate Distributions: "{}"
              AIC-c: 5.962133916683182
              display order: 7.061401241503109
              Equilibrium frequencies:
              - - 5.637376656633329
                - 5.637376656633329
              - - 5.637376656633329
                - 5.637376656633329
        job_id: job_id
      properties:
        job_id:
          pattern: "^[a-zA-Z0-9]+$"
          type: string
        result:
          $ref: '#/components/schemas/FelResult_result'
      type: object
    BustedRequest:
      example:
        genetic_code: Universal
        srv: "Yes"
        syn_rates: 6
        multiple_hits: None
        rates: 1
        tree: tree
        grid_size: 1
        alignment: alignment
        branches:
        - branches
        - branches
        starting_points: 1
        error_sink: false
      properties:
        alignment:
          pattern: "^[a-zA-Z0-9]+$"
          type: string
        tree:
          pattern: "^[a-zA-Z0-9]+$"
          type: string
        srv:
          default: "Yes"
          description: Include synonymous rate variation in the model
          enum:
          - "Yes"
          - "No"
          - branch-site
          type: string
        multiple_hits:
          default: None
          description: Specify handling of multiple nucleotide substitutions
          enum:
          - None
          - Double
          - Double+Triple
          type: string
        genetic_code:
          $ref: '#/components/schemas/GeneticCode'
        branches:
          default: []
          description: "Branches to include in the analysis. If empty, all branches\
            \ are included."
          items:
            type: string
          type: array
        rates:
          default: 3
          description: The number omega rate classes to include in the model
          maximum: 10
          minimum: 1
          type: integer
        syn_rates:
          default: 3
          description: The number synonymous rate classes to include in the model
          maximum: 10
          minimum: 1
          type: integer
        grid_size:
          default: 250
          description: The number of points in the initial distributional guess for
            likelihood fitting
          minimum: 1
          type: integer
        starting_points:
          default: 1
          description: The number of initial random guesses to seed rate values optimization
          minimum: 1
          type: integer
        error_sink:
          default: false
          description: An advanced experimental setting; include a rate class to capture
            misalignment artifacts
          type: boolean
      type: object
    BustedResult:
      example:
        result:
          timers:
            key:
              timer: 6
              order: 0
          test results:
            p-value: 1.2315135367772556
            LRT: 7.386281948385884
          tested:
            key:
              key: tested
          Evidence Ratios:
            optimized null:
            - - 4.965218492984954
              - 4.965218492984954
            - - 4.965218492984954
              - 4.965218492984954
            constrained:
            - - 1.1730742509559433
              - 1.1730742509559433
            - - 1.1730742509559433
              - 1.1730742509559433
          runtime: runtime
          analysis:
            settings:
              site_filter: "{}"
            contact: john.smith@example.com
          fits:
            key:
              Log Likelihood: 1.4658129805029452
              estimated parameters: 5.637376656633329
              Rate Distributions: "{}"
              AIC-c: 6.027456183070403
              display order: 5.962133916683182
          Synonymous site-posteriors:
          - - 1.0246457001441578
            - 1.0246457001441578
          - - 1.0246457001441578
            - 1.0246457001441578
          input:
            trees:
              key: trees
          data partitions:
            key:
              coverage:
              - - 1
                - 1
              - - 1
                - 1
              name: name
          branch attributes:
            attributes:
              key:
                display order: 4
                attribute type: attribute type
            additionalProperties:
              key:
                Posterior prob omega class:
                - - 9.301444243932576
                  - 9.301444243932576
                - - 9.301444243932576
                  - 9.301444243932576
                Posterior prob omega class by site:
                - - 3.616076749251911
                  - 3.616076749251911
                - - 3.616076749251911
                  - 3.616076749251911
                Nucleotide GTR: 7.061401241503109
                MG94xREV with separate rates for branch sets: 2.3021358869347655
                original name: original name
                constrained: 2.027123023002322
                unconstrained: 4.145608029883936
          substitutions:
            key:
              key:
                root: root
          background: 0.8008281904610115
          Site Log Likelihood:
            optimized null:
            - - 7.457744773683766
              - 7.457744773683766
            - - 7.457744773683766
              - 7.457744773683766
            constrained:
            - - 1.4894159098541704
              - 1.4894159098541704
            - - 1.4894159098541704
              - 1.4894159098541704
            unconstrained:
            - - 6.84685269835264
              - 6.84685269835264
            - - 6.84685269835264
              - 6.84685269835264
        job_id: job_id
      properties:
        job_id:
          pattern: "^[a-zA-Z0-9]+$"
          type: string
        result:
          $ref: '#/components/schemas/BustedResult_result'
      type: object
    AbsrelRequest:
      example:
        genetic_code: Universal
        srv: true
        multiple_hits: None
        tree: tree
        blb: 0.08008281904610115
        alignment: alignment
        branches:
        - branches
        - branches
      properties:
        alignment:
          pattern: "^[a-zA-Z0-9]+$"
          type: string
        tree:
          pattern: "^[a-zA-Z0-9]+$"
          type: string
        srv:
          default: true
          description: Include synonymous rate variation in the model
          type: boolean
        multiple_hits:
          default: None
          description: Specify handling of multiple nucleotide substitutions
          enum:
          - None
          - Double
          - Double+Triple
          type: string
        genetic_code:
          $ref: '#/components/schemas/GeneticCode'
        branches:
          default: []
          description: "Branches to include in the analysis. If empty, all branches\
            \ are included."
          items:
            type: string
          type: array
        blb:
          default: 1
          description: Bag of little bootstrap alignment resampling rate
          maximum: 1
          minimum: 0
          type: number
      type: object
    AbsrelResult:
      example:
        result:
          input:
            trees:
              key: trees
          timers:
            key:
              timer: 1
              order: 4
          data partitions:
            key:
              coverage:
              - - 1
                - 1
              - - 1
                - 1
              name: name
          test results:
            tested: 7
            P-value threshold: 2.3021358869347655
            positive test results: 9
          branch attributes:
            attributes:
              key:
                display order: 4
                attribute type: attribute type
            additionalProperties:
              key:
                Uncorrected P-value: 6.84685269835264
                Full adaptive model: 1.2315135367772556
                Baseline MG94xREV: 2.027123023002322
                Rate Distributions:
                - - 1.0246457001441578
                  - 1.0246457001441578
                - - 1.0246457001441578
                  - 1.0246457001441578
                Nucleotide GTR: 3.616076749251911
                Baseline MG94xREV omega ratio: 4.145608029883936
                Rate classes: 7
                Corrected P-value: 7.457744773683766
                original name: original name
                LRT: 1.4894159098541704
          tested:
            key:
              key: tested
          runtime: runtime
          analysis:
            settings:
              site_filter: "{}"
            contact: john.smith@example.com
          fits:
            key:
              Log Likelihood: 6.027456183070403
              estimated parameters: 5.962133916683182
              Rate Distributions: "{}"
              AIC-c: 0.8008281904610115
              display order: 1.4658129805029452
              Equilibrium frequencies:
              - - 5.637376656633329
                - 5.637376656633329
              - - 5.637376656633329
                - 5.637376656633329
        job_id: job_id
      properties:
        job_id:
          pattern: "^[a-zA-Z0-9]+$"
          type: string
        result:
          $ref: '#/components/schemas/AbsrelResult_result'
      type: object
    MemeRequest:
      example:
        genetic_code: Universal
        impute_states: "No"
        site_multihit: Estimate
        multiple_hits: None
        rates: 0
        tree: tree
        alignment: alignment
        resample: 6.027456183070403
      properties:
        alignment:
          pattern: "^[a-zA-Z0-9]+$"
          type: string
        tree:
          pattern: "^[a-zA-Z0-9]+$"
          type: string
        genetic_code:
          $ref: '#/components/schemas/GeneticCode'
        multiple_hits:
          default: None
          description: Specify handling of multiple nucleotide substitutions
          enum:
          - None
          - Double
          - Double+Triple
          type: string
        site_multihit:
          default: Estimate
          description: Specify whether to estimate multiple hit rates for each site
          enum:
          - Estimate
          - Global
          type: string
        rates:
          default: 2
          description: Number of different categories of non-synonymous rates
          type: integer
        resample:
          default: 0
          description: Number of bootstrapping replicates
          type: number
        impute_states:
          default: "No"
          description: Option to impute likely character states for missing data
          enum:
          - "Yes"
          - "No"
          type: string
      type: object
    MemeResult:
      example:
        result:
          input:
            trees:
              key: trees
          timers:
            key:
              timer: 6
              order: 0
          data partitions:
            key:
              coverage:
              - - 1
                - 1
              - - 1
                - 1
              name: name
          branch attributes:
            attributes:
              key:
                display order: 4
                attribute type: attribute type
            additionalProperties:
              key:
                Global MG94xREV: 3.616076749251911
                Nucleotide GTR: 2.027123023002322
                original name: original name
          tested:
            key:
              key: tested
          MLE:
            headers:
            - - headers
              - headers
            - - headers
              - headers
            content:
              key:
              - - 7.386281948385884
                - 7.386281948385884
              - - 7.386281948385884
                - 7.386281948385884
          runtime: runtime
          analysis:
            settings:
              site_filter: "{}"
            contact: john.smith@example.com
          fits:
            key:
              Log Likelihood: 2.3021358869347655
              estimated parameters: 9.301444243932576
              Rate Distributions: "{}"
              AIC-c: 5.962133916683182
              display order: 7.061401241503109
              Equilibrium frequencies:
              - - 5.637376656633329
                - 5.637376656633329
              - - 5.637376656633329
                - 5.637376656633329
        job_id: job_id
      properties:
        job_id:
          pattern: "^[a-zA-Z0-9]+$"
          type: string
        result:
          $ref: '#/components/schemas/FelResult_result'
      type: object
    RelaxRequest:
      example:
        genetic_code: Universal
        models: All
        reference_branches:
        - reference_branches
        - reference_branches
        kill_zero_lengths: "No"
        test_branches:
        - test_branches
        - test_branches
        rates: 0
        tree: tree
        alignment: alignment
      properties:
        alignment:
          pattern: "^[a-zA-Z0-9]+$"
          type: string
        tree:
          pattern: "^[a-zA-Z0-9]+$"
          type: string
        genetic_code:
          $ref: '#/components/schemas/GeneticCode'
        test_branches:
          default: []
          description: Branches to be considered as 'Test'
          items:
            type: string
          type: array
        reference_branches:
          default: []
          description: Branches to be considered as 'Reference'
          items:
            type: string
          type: array
        models:
          default: All
          description: "Type of analysis to run (All for descriptive models and RELAX\
            \ test, Minimal for only the RELAX test)"
          enum:
          - All
          - Minimal
          type: string
        rates:
          default: 3
          description: Number of omega rate classes
          type: integer
        kill_zero_lengths:
          default: "No"
          description: Specify whether to handle zero-length branches
          enum:
          - "Yes"
          - "No"
          type: string
      type: object
    RelaxResult:
      example:
        result:
          input:
            trees:
              key: trees
          timers:
            key:
              timer: 6
              order: 0
          data partitions:
            key:
              coverage:
              - - 1
                - 1
              - - 1
                - 1
              name: name
          test results:
            branch attributes:
              key:
                key:
                  RELAX null: 6.778324963048013
                  k (RELAX alternative): 5.944895607614016
                  Nucleotide GTR: 3.5571952270680973
                  tested: true
                  MG94xREV with separate rates for branch sets: 6.965117697638846
                  original name: original name
                  General descriptive: 1.284659006116532
                  RELAX alternative: 6.878052220127876
                  k (general descriptive): 2.8841621266687802
            p-value: 6.683562403749608
            test: test
            "null": "null"
            log likelihood ratio: 9.018348186070783
            relaxation or intensification parameter: 8.762042012749001
            background: background
            degrees of freedom: 6
            alternative: alternative
          tested:
            key:
              key: tested
          runtime: runtime
          analysis:
            settings:
              site_filter: "{}"
            contact: john.smith@example.com
          fits:
            RELAX null:
              Log Likelihood: 4.965218492984954
              estimated parameters: 5
              Rate Distributions:
                Test:
                  key:
                    proportion: 7.457744773683766
                    omega: 6.84685269835264
                Reference:
                  key:
                    proportion: 7.457744773683766
                    omega: 6.84685269835264
              AIC-c: 9.965781217890562
              display order: 9
            Nucleotide GTR:
              Log Likelihood: 0.8008281904610115
              estimated parameters: 6
              Rate Distributions:
                key: 5.637376656633329
              AIC-c: 1.4658129805029452
              display order: 2
              Equilibrium frequencies:
              - - 5.962133916683182
                - 5.962133916683182
              - - 5.962133916683182
                - 5.962133916683182
            MG94xREV with separate rates for branch sets:
              Log Likelihood: 7.061401241503109
              estimated parameters: 9
              Rate Distributions:
                key:
                - - 4.145608029883936
                  - 4.145608029883936
                - - 4.145608029883936
                  - 4.145608029883936
              AIC-c: 3.616076749251911
              display order: 7
              Equilibrium frequencies:
              - - 2.027123023002322
                - 2.027123023002322
              - - 2.027123023002322
                - 2.027123023002322
            General descriptive:
              Log Likelihood: 1.2315135367772556
              estimated parameters: 1
              Rate Distributions:
                Shared:
                  key:
                    proportion: 7.457744773683766
                    omega: 6.84685269835264
              AIC-c: 1.4894159098541704
              display order: 1
            RELAX alternative:
              Log Likelihood: 4.965218492984954
              estimated parameters: 5
              Rate Distributions:
                Test:
                  key:
                    proportion: 7.457744773683766
                    omega: 6.84685269835264
                Reference:
                  key:
                    proportion: 7.457744773683766
                    omega: 6.84685269835264
              AIC-c: 9.965781217890562
              display order: 9
        job_id: job_id
      properties:
        job_id:
          pattern: "^[a-zA-Z0-9]+$"
          type: string
        result:
          $ref: '#/components/schemas/RelaxResult_result'
      type: object
    GardRequest:
      example:
        genetic_code: Universal
        run_mode: Normal
        data_type: Nucleotide
        model: JTT
        alignment: alignment
        site_to_site_variation: None
        rate_classes: 0
      properties:
        alignment:
          pattern: "^[a-zA-Z0-9]+$"
          type: string
        genetic_code:
          $ref: '#/components/schemas/GeneticCode'
        data_type:
          default: Nucleotide
          description: The type of data being analyzed
          enum:
          - Nucleotide
          - Protein
          type: string
        run_mode:
          default: Normal
          description: The optimization mode
          enum:
          - Normal
          - Faster
          type: string
        site_to_site_variation:
          default: None
          description: Specifies the model for rate variation among sites
          enum:
          - None
          - General Discrete
          - Beta-Gamma
          type: string
        rate_classes:
          default: 2
          description: The number of discrete rate classes for rate variation
          type: integer
        model:
          default: JTT
          description: The substitution model to use
          type: string
      type: object
    GardResult:
      example:
        result:
          timers:
            key:
              timer: 6
              order: 0
          baselineScore: 0.8008281904610115
          tested:
            key:
              key: tested
          siteBreakPointSupport:
            key: 3.616076749251911
          runtime: runtime
          singleTreeAICc: 1.4658129805029452
          analysis:
            settings:
              site_filter: "{}"
            contact: john.smith@example.com
          trees:
            key: "{}"
          timeElapsed: 5
          input:
            trees:
              key: trees
          data partitions:
            key:
              coverage:
              - - 1
                - 1
              - - 1
                - 1
              name: name
          breakpointData:
            key:
              bps:
              - - 2
                - 2
              - - 2
                - 2
              tree: tree
          totalModelCount: 5
          potentialBreakpoints: 6
          improvements:
            key:
              deltaAICc: 9.301444243932576
              breakpoints:
              - - 7
                - 7
              - - 7
                - 7
        job_id: job_id
      properties:
        job_id:
          pattern: "^[a-zA-Z0-9]+$"
          type: string
        result:
          $ref: '#/components/schemas/GardResult_result'
      type: object
    BgmRequest:
      example:
        genetic_code: Universal
        max_parents: 5
        min_subs: 5
        burn_in: 6
        tree: tree
        data_type: codon
        alignment: alignment
        branches: All
        steps: 0
        samples: 1
      properties:
        alignment:
          pattern: "^[a-zA-Z0-9]+$"
          type: string
        tree:
          pattern: "^[a-zA-Z0-9]+$"
          type: string
        branches:
          default: All
          description: Specify branches to test
          type: string
        genetic_code:
          $ref: '#/components/schemas/GeneticCode'
        data_type:
          default: codon
          description: The type of data being analyzed
          enum:
          - nucleotide
          - amino-acid
          - codon
          type: string
        steps:
          default: 100000
          description: Number of MCMC steps to sample
          type: integer
        burn_in:
          default: 10000
          description: Number of MCMC steps to discard as burn-in
          type: integer
        samples:
          default: 100
          description: Number of samples to extract from the chain
          type: integer
        max_parents:
          default: 1
          description: Maximum number of parents allowed per node
          type: integer
        min_subs:
          default: 1
          description: Minimum number of substitutions per site to include in the
            analysis
          type: integer
      type: object
    BgmResult:
      example:
        result:
          input:
            trees:
              key: trees
          timers:
            key:
              timer: 6
              order: 0
          data partitions:
            key:
              coverage:
              - - 1
                - 1
              - - 1
                - 1
              name: name
          branch attributes:
            key:
              key:
                key: 2.3021358869347655
          tested:
            key:
              key: tested
          MLE:
            headers:
            - - headers
              - headers
            - - headers
              - headers
            content:
            - - 5.637376656633329
              - 5.637376656633329
            - - 5.637376656633329
              - 5.637376656633329
          runtime: runtime
          analysis:
            settings:
              site_filter: "{}"
            contact: john.smith@example.com
          fits:
            key:
              Log Likelihood: 0.8008281904610115
              estimated parameters: 6
              Rate Distributions: "{}"
              AIC-c: 1.4658129805029452
              display order: 5
        job_id: job_id
      properties:
        job_id:
          pattern: "^[a-zA-Z0-9]+$"
          type: string
        result:
          $ref: '#/components/schemas/BgmResult_result'
      type: object
    ContrastFelRequest:
      example:
        p_value: 0.8008281904610115
        genetic_code: Universal
        srv: "Yes"
        tree: tree
        q_value: 6.027456183070403
        alignment: alignment
        permutations: "Yes"
        branch_sets:
        - branch_sets
        - branch_sets
      properties:
        alignment:
          description: "Path to the in-frame codon alignment file (e.g., .fasta, .phy)"
          type: string
        tree:
          description: Path to the phylogenetic tree file
          type: string
        branch_sets:
          description: "Array of branch sets to be used for comparison (e.g., \"Source\"\
            \ and \"Test\" groups)"
          items:
            type: string
          type: array
        genetic_code:
          default: Universal
          description: Which genetic code should be used
          type: string
        srv:
          default: "Yes"
          description: Include synonymous rate variation in the model ("Yes" or "No")
          type: string
        permutations:
          default: "Yes"
          description: Perform permutation significance tests ("Yes" or "No")
          type: string
        p_value:
          default: 0.05
          description: Significance value for site tests
          type: number
        q_value:
          default: 0.2
          description: Significance value for False Discovery Rate reporting
          type: number
      required:
      - alignment
      - branch_sets
      - tree
      type: object
    ContrastFelResult:
      example:
        result:
          input:
            partition_count: 1
            file_name: file_name
            number_of_sequences: 0
            number_of_sites: 6
          tested:
            key: tested
          MLE:
            headers:
            - - headers
              - headers
            - - headers
              - headers
            content:
              key:
              - - 5.962133916683182
                - 5.962133916683182
              - - 5.962133916683182
                - 5.962133916683182
          branch_attributes:
            key: "{}"
          analysis:
            citation: citation
            version: version
            authors: authors
            info: info
          fits:
            key: "{}"
        job_id: job_id
      properties:
        job_id:
          pattern: "^[a-zA-Z0-9]+$"
          type: string
        result:
          $ref: '#/components/schemas/ContrastFelResult_result'
      type: object
    FubarRequest:
      example:
        genetic_code: Universal
        grid_points: 8
        tree: tree
        alignment: alignment
        concentration_parameter: 0.6031428726887332
      properties:
        alignment:
          description: "Path to the in-frame codon alignment file (e.g., .fasta, .nex)"
          type: string
        tree:
          description: Path to the phylogenetic tree file
          type: string
        genetic_code:
          default: Universal
          description: Which genetic code should be used
          type: string
        grid_points:
          default: 20
          description: Number of grid points for the Bayesian analysis (must be between
            5 and 50)
          maximum: 50
          minimum: 5
          type: integer
        concentration_parameter:
          default: 0.5
          description: Concentration parameter for the Dirichlet prior in the Bayesian
            estimation
          maximum: 1
          minimum: 0.001
          type: number
      required:
      - alignment
      - tree
      type: object
    FubarResult:
      example:
        result:
          input:
            partition_count: 1
            file_name: file_name
            number_of_sequences: 0
            trees:
              key: trees
            number_of_sites: 6
          timers:
            key: "{}"
          MLE:
            headers:
            - - headers
              - headers
            - - headers
              - headers
            content:
              key:
              - - 5.962133916683182
                - 5.962133916683182
              - - 5.962133916683182
                - 5.962133916683182
          analysis:
            requirements: requirements
            citation: citation
            contact: contact
            version: version
            info: info
            authors: authors
          fits:
            key: "{}"
        job_id: job_id
      properties:
        job_id:
          pattern: "^[a-zA-Z0-9]+$"
          type: string
        result:
          $ref: '#/components/schemas/FubarResult_result'
      type: object
    MultihitRequest:
      description: Request parameters for MULTI-HIT analysis
      example:
        genetic_code: Universal
        triple_islands: false
        alignment_file: alignment_file
        rate_classes: 1
      properties:
        alignment_file:
          description: "Path to the alignment file (e.g., .fasta, .phy)"
          type: string
        genetic_code:
          default: Universal
          description: The genetic code to use for the analysis
          type: string
        triple_islands:
          default: false
          description: Toggle for accounting synonymous triple-hit substitutions
          type: boolean
        rate_classes:
          default: 3
          description: Number of rate classes to use
          maximum: 10
          minimum: 1
          type: integer
      required:
      - alignment_file
      - genetic_code
      type: object
    MultihitResult:
      description: Results from a MULTI-HIT analysis
      example:
        result:
          site_substitutions:
            key:
              key: "{}"
          evidence_ratios:
            three_hit_islands_vs_2_hit:
            - - 1.4658129805029452
              - 1.4658129805029452
            - - 1.4658129805029452
              - 1.4658129805029452
            three_hit:
            - - 0.8008281904610115
              - 0.8008281904610115
            - - 0.8008281904610115
              - 0.8008281904610115
            two_hit:
            - - 6.027456183070403
              - 6.027456183070403
            - - 6.027456183070403
              - 6.027456183070403
          analysis:
            requirements: requirements
            contact: contact
            version: version
            authors: authors
            info: info
          fits:
            Standard_MG94:
              display_order: 2
              AIC_c: 5.962133916683182
              estimated_parameters: 7
              Log_Likelihood: 5.637376656633329
              Rate_Distributions: "{}"
            MG94_with_double_and_triple_instantaneous_substitutions_only_synonymous_islands:
              display_order: 2
              AIC_c: 5.962133916683182
              estimated_parameters: 7
              Log_Likelihood: 5.637376656633329
              Rate_Distributions: "{}"
            MG94_with_double_and_triple_instantaneous_substitutions:
              display_order: 2
              AIC_c: 5.962133916683182
              estimated_parameters: 7
              Log_Likelihood: 5.637376656633329
              Rate_Distributions: "{}"
            MG94_with_double_instantaneous_substitutions:
              display_order: 2
              AIC_c: 5.962133916683182
              estimated_parameters: 7
              Log_Likelihood: 5.637376656633329
              Rate_Distributions: "{}"
            Nucleotide_GTR:
              display_order: 2
              AIC_c: 5.962133916683182
              estimated_parameters: 7
              Log_Likelihood: 5.637376656633329
              Rate_Distributions: "{}"
          test_results:
            Double_hit_vs_single_hit:
              p_value: 3.616076749251911
              LRT: 9.301444243932576
            Triple_hit_vs_Triple_hit_island:
              p_value: 3.616076749251911
              LRT: 9.301444243932576
            Triple_hit_vs_double_hit:
              p_value: 3.616076749251911
              LRT: 9.301444243932576
            Triple_hit_vs_single_hit:
              p_value: 3.616076749251911
              LRT: 9.301444243932576
            Triple_hit_island_vs_double_hit:
              p_value: 3.616076749251911
              LRT: 9.301444243932576
        job_id: job_id
      properties:
        job_id:
          pattern: "^[a-zA-Z0-9]+$"
          type: string
        result:
          $ref: '#/components/schemas/MultihitResult_result'
      type: object
    SlacRequest:
      description: Request parameters for SLAC (Single Likelihood Ancestor Counting)
        analysis
      example:
        genetic_code: Universal
        pvalue: 0.6027456183070403
        alignment_file: alignment_file
        branches: All
        samples: 1
      properties:
        alignment_file:
          description: "Path to the alignment file (e.g., .fasta, .nex, .phy)"
          type: string
        genetic_code:
          default: Universal
          description: The genetic code to use for the analysis
          type: string
        branches:
          default: All
          description: Specify branches to test
          type: string
        samples:
          default: 100
          description: Number of samples for ancestral reconstruction uncertainty
          minimum: 1
          type: integer
        pvalue:
          default: 0.1
          description: Threshold for statistical significance
          maximum: 1
          minimum: 0
          type: number
      required:
      - alignment_file
      - genetic_code
      type: object
    SlacResult:
      description: Results from a SLAC (Single Likelihood Ancestor Counting) analysis
      example:
        result:
          input:
            partition_count: 1
            file_name: file_name
            number_of_sequences: 1
            trees:
              key: trees
            number_of_sites: 1
          timers:
            Ancestor_sampling_analysis:
              timer: 1
              order: 4
            Model_fitting:
              timer: 1
              order: 4
            Primary_SLAC_analysis:
              timer: 1
              order: 4
            Total_time:
              timer: 1
              order: 4
          site_results:
            key:
            - 5.025004791520295
            - 5.025004791520295
          tested:
            key:
              key: tested
          branch_attributes:
            key:
              key:
                codon:
                - - codon
                  - codon
                - - codon
                  - codon
                synonymous_substitution_count:
                - - 1.1730742509559433
                  - 1.1730742509559433
                - - 1.1730742509559433
                  - 1.1730742509559433
                Nucleotide_GTR: 6.84685269835264
                original_name: original_name
                nonsynonymous_substitution_count:
                - - 4.965218492984954
                  - 4.965218492984954
                - - 4.965218492984954
                  - 4.965218492984954
                amino_acid:
                - - amino_acid
                  - amino_acid
                - - amino_acid
                  - amino_acid
                Global_MG94xREV: 7.457744773683766
          data_partitions:
            key:
              coverage:
              - - 1
                - 1
              - - 1
                - 1
              name: name
          analysis:
            requirements: requirements
            citation: citation
            contact: contact
            version: version
            info: info
            authors: authors
          fits:
            Nucleotide_GTR:
              Equilibrium_frequencies:
              - - 5.962133916683182
                - 5.962133916683182
              - - 5.962133916683182
                - 5.962133916683182
              display_order: 2
              estimated_parameters: 6
              AIC_c: 1.4658129805029452
              Log_Likelihood: 0.8008281904610115
              Rate_Distributions:
                key: 5.637376656633329
            Global_MG94xREV:
              Equilibrium_frequencies:
              - - 2.027123023002322
                - 2.027123023002322
              - - 2.027123023002322
                - 2.027123023002322
              display_order: 7
              estimated_parameters: 9
              AIC_c: 3.616076749251911
              Log_Likelihood: 7.061401241503109
              Rate_Distributions:
                distribution:
                - - 4.145608029883936
                  - 4.145608029883936
                - - 4.145608029883936
                  - 4.145608029883936
        job_id: job_id
      properties:
        job_id:
          pattern: "^[a-zA-Z0-9]+$"
          type: string
        result:
          $ref: '#/components/schemas/SlacResult_result'
      type: object
    DatasetMeta:
      properties:
        name:
          type: string
        description:
          type: string
        type:
          type: string
      type: object
    Dataset:
      allOf:
      - $ref: '#/components/schemas/DatasetMeta'
      - properties:
          id:
            $ref: '#/components/schemas/Hash'
          created:
            format: date-time
            type: string
          updated:
            format: date-time
            type: string
        type: object
      example:
        created: 2000-01-23T04:56:07.000+00:00
        name: name
        description: description
        id: null
        type: type
        updated: 2000-01-23T04:56:07.000+00:00
      type: object
    Datasets:
      example:
        datasets:
        - created: 2000-01-23T04:56:07.000+00:00
          name: name
          description: description
          id: null
          type: type
          updated: 2000-01-23T04:56:07.000+00:00
        - created: 2000-01-23T04:56:07.000+00:00
          name: name
          description: description
          id: null
          type: type
          updated: 2000-01-23T04:56:07.000+00:00
      properties:
        datasets:
          items:
            $ref: '#/components/schemas/Dataset'
          type: array
      type: object
    UploadRequest:
      properties:
        meta:
          $ref: '#/components/schemas/DatasetMeta'
        file:
          description: Dataset File. incompatible with the url field
          format: binary
          type: string
        url:
          description: URL of the file to upload. incompatible with the file field
          type: string
      type: object
    Health_details:
      example:
        slurm: null
        datamonkey: null
      properties:
        slurm:
          $ref: '#/components/schemas/Status'
        datamonkey:
          $ref: '#/components/schemas/Status'
      type: object
    InvalidDataError_errors_inner:
      example:
        field: field
        message: message
      properties:
        field:
          description: The field that caused the error
          type: string
        message:
          description: The error message
          type: string
      type: object
    AnalysisInfo_settings:
      example:
        site_filter: "{}"
      properties:
        site_filter:
          properties: {}
          type: object
      type: object
    TimersInfo_value:
      example:
        timer: 6
        order: 0
      properties:
        order:
          type: integer
        timer:
          type: integer
      type: object
    PartitionsInfo_value:
      example:
        coverage:
        - - 1
          - 1
        - - 1
          - 1
        name: name
      properties:
        name:
          type: string
        coverage:
          items:
            items:
              type: integer
            type: array
          type: array
      type: object
    FelResult_result_allOf_fits_value:
      example:
        Log Likelihood: 2.3021358869347655
        estimated parameters: 9.301444243932576
        Rate Distributions: "{}"
        AIC-c: 5.962133916683182
        display order: 7.061401241503109
        Equilibrium frequencies:
        - - 5.637376656633329
          - 5.637376656633329
        - - 5.637376656633329
          - 5.637376656633329
      properties:
        AIC-c:
          type: number
        Equilibrium frequencies:
          items:
            items:
              type: number
            type: array
          type: array
        Log Likelihood:
          type: number
        Rate Distributions:
          type: object
        display order:
          type: number
        estimated parameters:
          type: number
      type: object
    FelResult_result_allOf_branch_attributes_additionalProperties_value:
      example:
        Global MG94xREV: 3.616076749251911
        Nucleotide GTR: 2.027123023002322
        original name: original name
      properties:
        Global MG94xREV:
          type: number
        Nucleotide GTR:
          type: number
        original name:
          type: string
      type: object
    FelResult_result_allOf_branch_attributes_attributes_value:
      example:
        display order: 4
        attribute type: attribute type
      properties:
        attribute type:
          type: string
        display order:
          type: integer
      type: object
    FelResult_result_allOf_branch_attributes:
      example:
        attributes:
          key:
            display order: 4
            attribute type: attribute type
        additionalProperties:
          key:
            Global MG94xREV: 3.616076749251911
            Nucleotide GTR: 2.027123023002322
            original name: original name
      properties:
        additionalProperties:
          additionalProperties:
            $ref: '#/components/schemas/FelResult_result_allOf_branch_attributes_additionalProperties_value'
          type: object
        attributes:
          additionalProperties:
            $ref: '#/components/schemas/FelResult_result_allOf_branch_attributes_attributes_value'
          type: object
      type: object
    FelResult_result_allOf_MLE:
      example:
        headers:
        - - headers
          - headers
        - - headers
          - headers
        content:
          key:
          - - 7.386281948385884
            - 7.386281948385884
          - - 7.386281948385884
            - 7.386281948385884
      properties:
        headers:
          items:
            items:
              type: string
            type: array
          type: array
        content:
          additionalProperties:
            items:
              items:
                type: number
              type: array
            type: array
          type: object
      type: object
    FelResult_result:
      allOf:
      - $ref: '#/components/schemas/BaseResponse'
      - properties:
          fits:
            additionalProperties:
              $ref: '#/components/schemas/FelResult_result_allOf_fits_value'
            type: object
          branch attributes:
            $ref: '#/components/schemas/FelResult_result_allOf_branch_attributes'
          MLE:
            $ref: '#/components/schemas/FelResult_result_allOf_MLE'
        type: object
      example:
        input:
          trees:
            key: trees
        timers:
          key:
            timer: 6
            order: 0
        data partitions:
          key:
            coverage:
            - - 1
              - 1
            - - 1
              - 1
            name: name
        branch attributes:
          attributes:
            key:
              display order: 4
              attribute type: attribute type
          additionalProperties:
            key:
              Global MG94xREV: 3.616076749251911
              Nucleotide GTR: 2.027123023002322
              original name: original name
        tested:
          key:
            key: tested
        MLE:
          headers:
          - - headers
            - headers
          - - headers
            - headers
          content:
            key:
            - - 7.386281948385884
              - 7.386281948385884
            - - 7.386281948385884
              - 7.386281948385884
        runtime: runtime
        analysis:
          settings:
            site_filter: "{}"
          contact: john.smith@example.com
        fits:
          key:
            Log Likelihood: 2.3021358869347655
            estimated parameters: 9.301444243932576
            Rate Distributions: "{}"
            AIC-c: 5.962133916683182
            display order: 7.061401241503109
            Equilibrium frequencies:
            - - 5.637376656633329
              - 5.637376656633329
            - - 5.637376656633329
              - 5.637376656633329
    BustedResult_result_allOf_fits_value:
      example:
        Log Likelihood: 1.4658129805029452
        estimated parameters: 5.637376656633329
        Rate Distributions: "{}"
        AIC-c: 6.027456183070403
        display order: 5.962133916683182
      properties:
        AIC-c:
          type: number
        Log Likelihood:
          type: number
        Rate Distributions:
          type: object
        display order:
          type: number
        estimated parameters:
          type: number
      type: object
    BustedResult_result_allOf_branch_attributes_additionalProperties_value:
      example:
        Posterior prob omega class:
        - - 9.301444243932576
          - 9.301444243932576
        - - 9.301444243932576
          - 9.301444243932576
        Posterior prob omega class by site:
        - - 3.616076749251911
          - 3.616076749251911
        - - 3.616076749251911
          - 3.616076749251911
        Nucleotide GTR: 7.061401241503109
        MG94xREV with separate rates for branch sets: 2.3021358869347655
        original name: original name
        constrained: 2.027123023002322
        unconstrained: 4.145608029883936
      properties:
        MG94xREV with separate rates for branch sets:
          type: number
        Nucleotide GTR:
          type: number
        Posterior prob omega class:
          items:
            items:
              type: number
            type: array
          type: array
        Posterior prob omega class by site:
          items:
            items:
              type: number
            type: array
          type: array
        constrained:
          type: number
        original name:
          type: string
        unconstrained:
          type: number
      type: object
    BustedResult_result_allOf_branch_attributes:
      example:
        attributes:
          key:
            display order: 4
            attribute type: attribute type
        additionalProperties:
          key:
            Posterior prob omega class:
            - - 9.301444243932576
              - 9.301444243932576
            - - 9.301444243932576
              - 9.301444243932576
            Posterior prob omega class by site:
            - - 3.616076749251911
              - 3.616076749251911
            - - 3.616076749251911
              - 3.616076749251911
            Nucleotide GTR: 7.061401241503109
            MG94xREV with separate rates for branch sets: 2.3021358869347655
            original name: original name
            constrained: 2.027123023002322
            unconstrained: 4.145608029883936
      properties:
        additionalProperties:
          additionalProperties:
            $ref: '#/components/schemas/BustedResult_result_allOf_branch_attributes_additionalProperties_value'
          type: object
        attributes:
          additionalProperties:
            $ref: '#/components/schemas/FelResult_result_allOf_branch_attributes_attributes_value'
          type: object
      type: object
    BustedResult_result_allOf_test_results:
      example:
        p-value: 1.2315135367772556
        LRT: 7.386281948385884
      properties:
        LRT:
          type: number
        p-value:
          type: number
      type: object
    BustedResult_result_allOf_substitutions_value_value:
      additionalProperties:
        type: string
      example:
        root: root
      properties:
        root:
          type: string
      type: object
    BustedResult_result_allOf_Site_Log_Likelihood:
      example:
        optimized null:
        - - 7.457744773683766
          - 7.457744773683766
        - - 7.457744773683766
          - 7.457744773683766
        constrained:
        - - 1.4894159098541704
          - 1.4894159098541704
        - - 1.4894159098541704
          - 1.4894159098541704
        unconstrained:
        - - 6.84685269835264
          - 6.84685269835264
        - - 6.84685269835264
          - 6.84685269835264
      properties:
        constrained:
          items:
            items:
              type: number
            type: array
          type: array
        unconstrained:
          items:
            items:
              type: number
            type: array
          type: array
        optimized null:
          items:
            items:
              type: number
            type: array
          type: array
      type: object
    BustedResult_result_allOf_Evidence_Ratios:
      example:
        optimized null:
        - - 4.965218492984954
          - 4.965218492984954
        - - 4.965218492984954
          - 4.965218492984954
        constrained:
        - - 1.1730742509559433
          - 1.1730742509559433
        - - 1.1730742509559433
          - 1.1730742509559433
      properties:
        constrained:
          items:
            items:
              type: number
            type: array
          type: array
        optimized null:
          items:
            items:
              type: number
            type: array
          type: array
      type: object
    BustedResult_result:
      allOf:
      - $ref: '#/components/schemas/BaseResponse'
      - properties:
          background:
            type: number
          fits:
            additionalProperties:
              $ref: '#/components/schemas/BustedResult_result_allOf_fits_value'
            type: object
          branch attributes:
            $ref: '#/components/schemas/BustedResult_result_allOf_branch_attributes'
          test results:
            $ref: '#/components/schemas/BustedResult_result_allOf_test_results'
          substitutions:
            additionalProperties:
              additionalProperties:
                $ref: '#/components/schemas/BustedResult_result_allOf_substitutions_value_value'
              type: object
            type: object
          Synonymous site-posteriors:
            items:
              items:
                type: number
              type: array
            type: array
          Site Log Likelihood:
            $ref: '#/components/schemas/BustedResult_result_allOf_Site_Log_Likelihood'
          Evidence Ratios:
            $ref: '#/components/schemas/BustedResult_result_allOf_Evidence_Ratios'
        type: object
      example:
        timers:
          key:
            timer: 6
            order: 0
        test results:
          p-value: 1.2315135367772556
          LRT: 7.386281948385884
        tested:
          key:
            key: tested
        Evidence Ratios:
          optimized null:
          - - 4.965218492984954
            - 4.965218492984954
          - - 4.965218492984954
            - 4.965218492984954
          constrained:
          - - 1.1730742509559433
            - 1.1730742509559433
          - - 1.1730742509559433
            - 1.1730742509559433
        runtime: runtime
        analysis:
          settings:
            site_filter: "{}"
          contact: john.smith@example.com
        fits:
          key:
            Log Likelihood: 1.4658129805029452
            estimated parameters: 5.637376656633329
            Rate Distributions: "{}"
            AIC-c: 6.027456183070403
            display order: 5.962133916683182
        Synonymous site-posteriors:
        - - 1.0246457001441578
          - 1.0246457001441578
        - - 1.0246457001441578
          - 1.0246457001441578
        input:
          trees:
            key: trees
        data partitions:
          key:
            coverage:
            - - 1
              - 1
            - - 1
              - 1
            name: name
        branch attributes:
          attributes:
            key:
              display order: 4
              attribute type: attribute type
          additionalProperties:
            key:
              Posterior prob omega class:
              - - 9.301444243932576
                - 9.301444243932576
              - - 9.301444243932576
                - 9.301444243932576
              Posterior prob omega class by site:
              - - 3.616076749251911
                - 3.616076749251911
              - - 3.616076749251911
                - 3.616076749251911
              Nucleotide GTR: 7.061401241503109
              MG94xREV with separate rates for branch sets: 2.3021358869347655
              original name: original name
              constrained: 2.027123023002322
              unconstrained: 4.145608029883936
        substitutions:
          key:
            key:
              root: root
        background: 0.8008281904610115
        Site Log Likelihood:
          optimized null:
          - - 7.457744773683766
            - 7.457744773683766
          - - 7.457744773683766
            - 7.457744773683766
          constrained:
          - - 1.4894159098541704
            - 1.4894159098541704
          - - 1.4894159098541704
            - 1.4894159098541704
          unconstrained:
          - - 6.84685269835264
            - 6.84685269835264
          - - 6.84685269835264
            - 6.84685269835264
    AbsrelResult_result_allOf_fits_value:
      example:
        Log Likelihood: 6.027456183070403
        estimated parameters: 5.962133916683182
        Rate Distributions: "{}"
        AIC-c: 0.8008281904610115
        display order: 1.4658129805029452
        Equilibrium frequencies:
        - - 5.637376656633329
          - 5.637376656633329
        - - 5.637376656633329
          - 5.637376656633329
      properties:
        AIC-c:
          type: number
        Log Likelihood:
          type: number
        Rate Distributions:
          type: object
        display order:
          type: number
        estimated parameters:
          type: number
        Equilibrium frequencies:
          items:
            items:
              type: number
            type: array
          type: array
      type: object
    AbsrelResult_result_allOf_test_results:
      example:
        tested: 7
        P-value threshold: 2.3021358869347655
        positive test results: 9
      properties:
        P-value threshold:
          type: number
        tested:
          type: integer
        positive test results:
          type: integer
      type: object
    AbsrelResult_result_allOf_branch_attributes_additionalProperties_value:
      example:
        Uncorrected P-value: 6.84685269835264
        Full adaptive model: 1.2315135367772556
        Baseline MG94xREV: 2.027123023002322
        Rate Distributions:
        - - 1.0246457001441578
          - 1.0246457001441578
        - - 1.0246457001441578
          - 1.0246457001441578
        Nucleotide GTR: 3.616076749251911
        Baseline MG94xREV omega ratio: 4.145608029883936
        Rate classes: 7
        Corrected P-value: 7.457744773683766
        original name: original name
        LRT: 1.4894159098541704
      properties:
        original name:
          type: string
        Nucleotide GTR:
          type: number
        Baseline MG94xREV:
          type: number
        Baseline MG94xREV omega ratio:
          type: number
        Rate classes:
          type: integer
        Full adaptive model:
          type: number
        Rate Distributions:
          items:
            items:
              type: number
            type: array
          type: array
        LRT:
          type: number
        Uncorrected P-value:
          type: number
        Corrected P-value:
          type: number
      type: object
    AbsrelResult_result_allOf_branch_attributes:
      example:
        attributes:
          key:
            display order: 4
            attribute type: attribute type
        additionalProperties:
          key:
            Uncorrected P-value: 6.84685269835264
            Full adaptive model: 1.2315135367772556
            Baseline MG94xREV: 2.027123023002322
            Rate Distributions:
            - - 1.0246457001441578
              - 1.0246457001441578
            - - 1.0246457001441578
              - 1.0246457001441578
            Nucleotide GTR: 3.616076749251911
            Baseline MG94xREV omega ratio: 4.145608029883936
            Rate classes: 7
            Corrected P-value: 7.457744773683766
            original name: original name
            LRT: 1.4894159098541704
      properties:
        additionalProperties:
          additionalProperties:
            $ref: '#/components/schemas/AbsrelResult_result_allOf_branch_attributes_additionalProperties_value'
          type: object
        attributes:
          additionalProperties:
            $ref: '#/components/schemas/FelResult_result_allOf_branch_attributes_attributes_value'
          type: object
      type: object
    AbsrelResult_result_allOf_timers_value:
      example:
        timer: 1
        order: 4
      properties:
        timer:
          type: integer
        order:
          type: integer
      type: object
    AbsrelResult_result:
      allOf:
      - $ref: '#/components/schemas/BaseResponse'
      - properties:
          fits:
            additionalProperties:
              $ref: '#/components/schemas/AbsrelResult_result_allOf_fits_value'
            type: object
          test results:
            $ref: '#/components/schemas/AbsrelResult_result_allOf_test_results'
          tested:
            additionalProperties:
              additionalProperties:
                type: string
              type: object
            type: object
          data partitions:
            additionalProperties:
              $ref: '#/components/schemas/PartitionsInfo_value'
            type: object
          branch attributes:
            $ref: '#/components/schemas/AbsrelResult_result_allOf_branch_attributes'
          timers:
            additionalProperties:
              $ref: '#/components/schemas/AbsrelResult_result_allOf_timers_value'
            type: object
        type: object
      example:
        input:
          trees:
            key: trees
        timers:
          key:
            timer: 1
            order: 4
        data partitions:
          key:
            coverage:
            - - 1
              - 1
            - - 1
              - 1
            name: name
        test results:
          tested: 7
          P-value threshold: 2.3021358869347655
          positive test results: 9
        branch attributes:
          attributes:
            key:
              display order: 4
              attribute type: attribute type
          additionalProperties:
            key:
              Uncorrected P-value: 6.84685269835264
              Full adaptive model: 1.2315135367772556
              Baseline MG94xREV: 2.027123023002322
              Rate Distributions:
              - - 1.0246457001441578
                - 1.0246457001441578
              - - 1.0246457001441578
                - 1.0246457001441578
              Nucleotide GTR: 3.616076749251911
              Baseline MG94xREV omega ratio: 4.145608029883936
              Rate classes: 7
              Corrected P-value: 7.457744773683766
              original name: original name
              LRT: 1.4894159098541704
        tested:
          key:
            key: tested
        runtime: runtime
        analysis:
          settings:
            site_filter: "{}"
          contact: john.smith@example.com
        fits:
          key:
            Log Likelihood: 6.027456183070403
            estimated parameters: 5.962133916683182
            Rate Distributions: "{}"
            AIC-c: 0.8008281904610115
            display order: 1.4658129805029452
            Equilibrium frequencies:
            - - 5.637376656633329
              - 5.637376656633329
            - - 5.637376656633329
              - 5.637376656633329
    RelaxResult_result_allOf_fits_Nucleotide_GTR:
      example:
        Log Likelihood: 0.8008281904610115
        estimated parameters: 6
        Rate Distributions:
          key: 5.637376656633329
        AIC-c: 1.4658129805029452
        display order: 2
        Equilibrium frequencies:
        - - 5.962133916683182
          - 5.962133916683182
        - - 5.962133916683182
          - 5.962133916683182
      properties:
        Log Likelihood:
          type: number
        estimated parameters:
          type: integer
        AIC-c:
          type: number
        Equilibrium frequencies:
          items:
            items:
              type: number
            type: array
          type: array
        Rate Distributions:
          additionalProperties:
            type: number
          type: object
        display order:
          type: integer
      type: object
    RelaxResult_result_allOf_fits_MG94xREV_with_separate_rates_for_branch_sets:
      example:
        Log Likelihood: 7.061401241503109
        estimated parameters: 9
        Rate Distributions:
          key:
          - - 4.145608029883936
            - 4.145608029883936
          - - 4.145608029883936
            - 4.145608029883936
        AIC-c: 3.616076749251911
        display order: 7
        Equilibrium frequencies:
        - - 2.027123023002322
          - 2.027123023002322
        - - 2.027123023002322
          - 2.027123023002322
      properties:
        Log Likelihood:
          type: number
        estimated parameters:
          type: integer
        AIC-c:
          type: number
        Equilibrium frequencies:
          items:
            items:
              type: number
            type: array
          type: array
        Rate Distributions:
          additionalProperties:
            items:
              items:
                type: number
              type: array
            type: array
          type: object
        display order:
          type: integer
      type: object
    RelaxResult_result_allOf_fits_General_descriptive_Rate_Distributions_Shared_value:
      example:
        proportion: 7.457744773683766
        omega: 6.84685269835264
      properties:
        omega:
          type: number
        proportion:
          type: number
      type: object
    RelaxResult_result_allOf_fits_General_descriptive_Rate_Distributions:
      example:
        Shared:
          key:
            proportion: 7.457744773683766
            omega: 6.84685269835264
      properties:
        Shared:
          additionalProperties:
            $ref: '#/components/schemas/RelaxResult_result_allOf_fits_General_descriptive_Rate_Distributions_Shared_value'
          type: object
      type: object
    RelaxResult_result_allOf_fits_General_descriptive:
      example:
        Log Likelihood: 1.2315135367772556
        estimated parameters: 1
        Rate Distributions:
          Shared:
            key:
              proportion: 7.457744773683766
              omega: 6.84685269835264
        AIC-c: 1.4894159098541704
        display order: 1
      properties:
        Log Likelihood:
          type: number
        estimated parameters:
          type: integer
        AIC-c:
          type: number
        Rate Distributions:
          $ref: '#/components/schemas/RelaxResult_result_allOf_fits_General_descriptive_Rate_Distributions'
        display order:
          type: integer
      type: object
    RelaxResult_result_allOf_fits_RELAX_alternative_Rate_Distributions:
      example:
        Test:
          key:
            proportion: 7.457744773683766
            omega: 6.84685269835264
        Reference:
          key:
            proportion: 7.457744773683766
            omega: 6.84685269835264
      properties:
        Test:
[...]
