openapi: 3.0.2
info:
  contact:
    email: spond@temple.edu
    url: http://github.com/veg/api-datamonkey
  description: |
    Datamonkey is a free public server for comparative analysis of sequence alignments using state-of-the-art statistical models. <br> This is the OpenAPI definition for the Datamonkey API.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  title: Datamonkey API
  version: 1.2.0
  x-logo:
    url: https://raw.githubusercontent.com/veg/datamonkey-js/refs/heads/master/public/assets/img/header-logo.svg
    altText: Datamonkey.org logo
externalDocs:
  description: Use Datamonkey today!
  url: https://datamonkey.org
servers:
- url: http://datamonkey.org/api/v1
- url: https://datamonkey.org/api/v1
tags:
- description: Check health of Datamonkey server
  name: Health
- description: Chat with an AI assistant to analyze data and run HyPhy methods
  name: Chat
- description: Examples uploading files to Datamonkey
  name: File Upload and QC
- description: Manage analysis jobs
  name: Jobs
- description: Manage data visualizations (Vega-Lite specs)
  name: Visualizations
- description: List and manage available HyPhy methods
  name: Methods
- description: Examples starting jobs and fetching results for FEL
  name: FEL
- description: Examples starting jobs and fetching results for BUSTED
  name: BUSTED
- description: Examples starting jobs and fetching results for ABSREL
  name: ABSREL
- description: Examples starting jobs and fetching results for BGM (Bayesian Graphical
    Model)
  name: BGM
- description: Examples starting jobs and fetching results for CONTRAST-FEL (Fixed
    Effects Likelihood with Contrast)
  name: CONTRAST-FEL
- description: Examples starting jobs and fetching results for FUBAR (Fast Unconstrained
    Bayesian AppRoximation)
  name: FUBAR
- description: Examples starting jobs and fetching results for GARD (Genetic Algorithm
    for Recombination Detection)
  name: GARD
- description: Examples starting jobs and fetching results for MEME (Mixed Effects
    Model of Evolution)
  name: MEME
- description: Examples starting jobs and fetching results for MULTI-HIT (Multiple
    Hit) analysis
  name: MULTI-HIT
- description: Examples starting jobs and fetching results for RELAX (Hypothesis testing
    framework to detect relaxation of selection)
  name: RELAX
- description: Examples starting jobs and fetching results for SLAC (Single Likelihood
    Ancestor Counting) analysis
  name: SLAC
- description: Examples starting jobs and fetching results for NRM (Nucleotide Non-Reversible
    Model) analysis
  name: NRM
- description: Examples starting jobs and fetching results for FADE (FUBAR Approach
    to Directional Evolution) analysis
  name: FADE
- description: Examples starting jobs and fetching results for SLATKIN (Slatkin-Maddison)
    analysis
  name: SLATKIN
- description: Examples building codon-aware alignments from uploaded data. Somewhere
    over the rainbow..
  name: Codon Aware Alignments
- description: Examples building phylogenetic trees from uploaded data. Somewhere
    over the rainbow..
  name: Tree Building
paths:
  /health:
    get:
      operationId: getHealth
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Health'
          description: Success
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Health'
          description: Unable to get health. Internal server error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Health'
          description: Unable to get health. Service unavailable
      summary: Check health of Datamonkey
      tags:
      - Health
  /chat:
    get:
      operationId: listUserConversations
      parameters:
      - description: Token identifying the user
        explode: false
        in: header
        name: user_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listUserConversations_200_response'
          description: List of user's conversations
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized - Invalid or missing user token
      summary: List conversations for the authenticated user
      tags:
      - Chat
    post:
      operationId: createConversation
      parameters:
      - description: "Token identifying the user. If not provided, a new session will\
          \ be created automatically."
        explode: false
        in: header
        name: user_token
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createConversation_request'
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatConversation'
          description: "Conversation created successfully. If no token was provided,\
            \ a new session token is returned in the X-Session-Token response header."
          headers:
            X-Session-Token:
              $ref: '#/components/headers/XSessionToken'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error - Failed to create session or conversation
      summary: Create a new conversation
      tags:
      - Chat
  /chat/{conversationId}:
    delete:
      operationId: deleteConversation
      parameters:
      - description: ID of the conversation
        explode: false
        in: path
        name: conversationId
        required: true
        schema:
          type: string
        style: simple
      - description: Token identifying the user
        explode: false
        in: header
        name: user_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Conversation deleted
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized - Invalid or missing user token
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - User does not own this conversation
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Conversation not found
      summary: Delete a conversation
      tags:
      - Chat
    get:
      operationId: getConversation
      parameters:
      - description: ID of the conversation
        explode: false
        in: path
        name: conversationId
        required: true
        schema:
          type: string
        style: simple
      - description: Token identifying the user
        explode: false
        in: header
        name: user_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatConversation'
          description: Conversation details
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized - Invalid or missing user token
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - User does not own this conversation
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Conversation not found
      summary: Get a conversation by ID
      tags:
      - Chat
  /chat/{conversationId}/messages:
    get:
      operationId: getConversationMessages
      parameters:
      - description: ID of the conversation
        explode: false
        in: path
        name: conversationId
        required: true
        schema:
          type: string
        style: simple
      - description: Token identifying the user
        explode: false
        in: header
        name: user_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getConversationMessages_200_response'
          description: List of conversation messages
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized - Invalid or missing user token
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - User does not own this conversation
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Conversation not found
      summary: Get messages from a conversation
      tags:
      - Chat
    post:
      operationId: sendConversationMessage
      parameters:
      - description: ID of the conversation
        explode: false
        in: path
        name: conversationId
        required: true
        schema:
          type: string
        style: simple
      - description: Token identifying the user
        explode: false
        in: header
        name: user_token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sendConversationMessage_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sendConversationMessage_200_response'
          description: AI response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized - Invalid or missing user token
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - User does not own this conversation
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Conversation not found
      summary: Send a message to the conversation
      tags:
      - Chat
  /jobs:
    get:
      description: "Returns jobs owned by the authenticated user, with optional filtering\
        \ by alignment ID, tree ID, method, and/or status"
      operationId: getJobsList
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      - description: Token identifying the user
        explode: false
        in: header
        name: user_token
        required: true
        schema:
          type: string
        style: simple
      - description: Filter jobs by alignment dataset ID
        explode: true
        in: query
        name: alignment_id
        required: false
        schema:
          $ref: '#/components/schemas/Hash'
        style: form
      - description: Filter jobs by tree dataset ID
        explode: true
        in: query
        name: tree_id
        required: false
        schema:
          $ref: '#/components/schemas/Hash'
        style: form
      - description: Filter jobs by HyPhy method
        explode: true
        in: query
        name: method
        required: false
        schema:
          type: string
        style: form
      - description: Filter jobs by status
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - queued
          - running
          - completed
          - error
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getJobsList_200_response'
          description: Success - returns user's jobs
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized - Invalid or missing user token
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Get a list of jobs for the authenticated user
      tags:
      - Jobs
  /jobs/{jobId}:
    delete:
      description: "Delete a job from the Datamonkey server. If the job is running,\
        \ it will be cancelled."
      operationId: deleteJob
      parameters:
      - description: ID of the job
        explode: false
        in: path
        name: jobId
        required: true
        schema:
          $ref: '#/components/schemas/Hash'
        style: simple
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      - description: Token identifying the user who owns the job
        explode: false
        in: header
        name: user_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Job deleted successfully
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized - Invalid or missing user token
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - User does not own this job
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Job not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Delete a job
      tags:
      - Jobs
    get:
      description: Get detailed information about a specific job
      operationId: getJobById
      parameters:
      - description: ID of the job
        explode: false
        in: path
        name: jobId
        required: true
        schema:
          $ref: '#/components/schemas/Hash'
        style: simple
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      - description: Token identifying the user (required if job is private)
        explode: false
        in: header
        name: user_token
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized - Invalid or missing user token for private job
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - User does not own this job
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Job not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Get details for a specific job
      tags:
      - Jobs
  /datasets:
    get:
      description: Returns datasets owned by the authenticated user
      operationId: getDatasetsList
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      - description: Token identifying the user
        explode: false
        in: header
        name: user_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Datasets'
          description: Success - returns user's datasets
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized - Invalid or missing user token
      summary: Get a list of datasets for the authenticated user
      tags:
      - File Upload and QC
    post:
      operationId: PostDataset
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      - description: "Token identifying the user. If not provided, a new session will\
          \ be created automatically."
        explode: false
        in: header
        name: user_token
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UploadRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Datasets'
          description: "Dataset uploaded successfully. If no token was provided, a\
            \ new session token is returned in the X-Session-Token response header."
          headers:
            X-Session-Token:
              $ref: '#/components/headers/XSessionToken'
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDataError'
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Upload a dataset to Datamonkey
      tags:
      - File Upload and QC
  /datasets/{datasetId}:
    delete:
      description: Delete a dataset from the Datamonkey server
      operationId: deleteDataset
      parameters:
      - description: ID of the dataset to retrieve
        explode: false
        in: path
        name: datasetId
        required: true
        schema:
          $ref: '#/components/schemas/Hash'
        style: simple
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      - description: Token identifying the user who owns the dataset
        explode: false
        in: header
        name: user_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Dataset deleted successfully
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized - Invalid or missing user token
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - User does not own this dataset
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Dataset not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Delete a dataset
      tags:
      - File Upload and QC
    get:
      description: |
        Get detailed information about a specific dataset.
        By default, returns metadata only (id, name, type, description, timestamps).
        Use `include_content=true` query parameter to include the actual sequence data.
      operationId: getDatasetById
      parameters:
      - description: ID of the dataset to retrieve
        explode: false
        in: path
        name: datasetId
        required: true
        schema:
          $ref: '#/components/schemas/Hash'
        style: simple
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      - description: Token identifying the user (required if dataset is private)
        explode: false
        in: header
        name: user_token
        required: false
        schema:
          type: string
        style: simple
      - description: |
          If true, includes the dataset content (sequence data) in the response.
          Default is false (metadata only) for better performance.
        example: true
        explode: true
        in: query
        name: include_content
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized - Invalid or missing user token for private dataset
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Dataset not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Get details for a specific dataset
      tags:
      - File Upload and QC
  /visualizations:
    get:
      description: Returns visualizations owned by the authenticated user. Can be
        filtered by job ID or dataset ID.
      operationId: getVisualizationsList
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      - description: Token identifying the user
        explode: false
        in: header
        name: user_token
        required: true
        schema:
          type: string
        style: simple
      - description: Filter visualizations by job ID
        explode: true
        in: query
        name: job_id
        required: false
        schema:
          type: string
        style: form
      - description: Filter visualizations by dataset ID
        explode: true
        in: query
        name: dataset_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Visualizations'
          description: Success - returns user's visualizations
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized - Invalid or missing user token
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Get a list of visualizations for the authenticated user
      tags:
      - Visualizations
    post:
      description: Create and store a new Vega-Lite visualization specification
      operationId: createVisualization
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      - description: Token identifying the user
        explode: false
        in: header
        name: user_token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVisualizationRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Visualization'
          description: Visualization created successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDataError'
          description: Bad Request - Invalid visualization data
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized - Invalid or missing user token
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Create a new visualization
      tags:
      - Visualizations
  /visualizations/{vizId}:
    delete:
      description: Delete a visualization from the Datamonkey server
      operationId: deleteVisualization
      parameters:
      - description: ID of the visualization to retrieve
        explode: false
        in: path
        name: vizId
        required: true
        schema:
          $ref: '#/components/schemas/Hash'
        style: simple
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      - description: Token identifying the user who owns the visualization
        explode: false
        in: header
        name: user_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Visualization deleted successfully
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized - Invalid or missing user token
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - User does not own this visualization
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Visualization not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Delete a visualization
      tags:
      - Visualizations
    get:
      description: Retrieve a specific visualization by its ID
      operationId: getVisualization
      parameters:
      - description: ID of the visualization to retrieve
        explode: false
        in: path
        name: vizId
        required: true
        schema:
          $ref: '#/components/schemas/Hash'
        style: simple
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      - description: "Token identifying the user. Required for private visualizations,\
          \ optional for public ones."
        explode: false
        in: header
        name: user_token
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Visualization'
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized - Invalid or missing user token for private visualization
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Visualization not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Get details for a specific visualization
      tags:
      - Visualizations
    put:
      description: Update an existing visualization's metadata or spec
      operationId: updateVisualization
      parameters:
      - description: ID of the visualization to retrieve
        explode: false
        in: path
        name: vizId
        required: true
        schema:
          $ref: '#/components/schemas/Hash'
        style: simple
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      - description: Token identifying the user who owns the visualization
        explode: false
        in: header
        name: user_token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateVisualizationRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Visualization'
          description: Visualization updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDataError'
          description: Bad Request - Invalid update data
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized - Invalid or missing user token
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - User does not own this visualization
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Visualization not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Update a visualization
      tags:
      - Visualizations
  /methods:
    get:
      description: Returns a list of all available HyPhy methods that can be run on
        the server
      operationId: getMethodsList
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodsList'
          description: Success
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Get a list of available HyPhy methods
      tags:
      - Methods
  /methods/fel-start:
    post:
      operationId: startFELJob
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      - description: Token identifying the user. Required to reference datasets owned
          by the user.
        explode: false
        in: header
        name: user_token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FelRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
          description: Job started successfully.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized - Invalid or missing user token
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - User does not have access to the specified dataset(s)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Not Found - Specified dataset(s) not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDataError'
          description: Unprocessable Entity - Invalid request parameters
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Start and monitor a FEL job
      tags:
      - FEL
  /methods/fel-result:
    get:
      operationId: getFELJobById
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      - description: Job ID to fetch results for
        explode: true
        in: query
        name: job_id
        required: true
        schema:
          $ref: '#/components/schemas/Hash'
        style: form
      - description: Token identifying the user
        explode: false
        in: header
        name: user_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FelResult'
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized - Invalid user token
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - User does not have permission to access this job
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Job not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Get a FEL job result by job ID
      tags:
      - FEL
    post:
      operationId: getFELJob
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      - description: Token identifying the user
        explode: false
        in: header
        name: user_token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FelRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FelResult'
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized - Invalid user token
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - User does not have permission to access this job
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Job not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Get a FEL job result
      tags:
      - FEL
  /methods/busted-start:
    post:
      operationId: startBUSTEDJob
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      - description: Token identifying the user. Required to reference datasets owned
          by the user.
        explode: false
        in: header
        name: user_token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BustedRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
          description: Job started successfully.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized - Invalid or missing user token
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - User does not have access to the specified dataset(s)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Not Found - Specified dataset(s) not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDataError'
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Start and monitor a BUSTED job
      tags:
      - BUSTED
  /methods/busted-result:
    get:
      operationId: getBUSTEDJobById
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      - description: Job ID to fetch results for
        explode: true
        in: query
        name: job_id
        required: true
        schema:
          $ref: '#/components/schemas/Hash'
        style: form
      - description: Token identifying the user
        explode: false
        in: header
        name: user_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BustedResult'
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized - Invalid user token
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - User does not have permission to access this job
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Job not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Get a BUSTED job result by job ID
      tags:
      - BUSTED
    post:
      operationId: getBUSTEDJob
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      - description: Token identifying the user
        explode: false
        in: header
        name: user_token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BustedRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BustedResult'
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized - Invalid user token
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - User does not have permission to access this job
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Job not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Get a BUSTED job result
      tags:
      - BUSTED
  /methods/absrel-start:
    post:
      operationId: startABSRELJob
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      - description: Token identifying the user. Required to reference datasets owned
          by the user.
        explode: false
        in: header
        name: user_token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AbsrelRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
          description: Job started successfully.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized - Invalid or missing user token
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - User does not have access to the specified dataset(s)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Not Found - Specified dataset(s) not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDataError'
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Start and monitor an ABSREL job
      tags:
      - ABSREL
  /methods/absrel-result:
    get:
      operationId: getABSRELJobById
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      - description: Job ID to fetch results for
        explode: true
        in: query
        name: job_id
        required: true
        schema:
          $ref: '#/components/schemas/Hash'
        style: form
      - description: Token identifying the user
        explode: false
        in: header
        name: user_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AbsrelResult'
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized - Invalid user token
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - User does not have permission to access this job
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Job not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Get an ABSREL job result by job ID
      tags:
      - ABSREL
    post:
      operationId: getABSRELJob
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      - description: Token identifying the user
        explode: false
        in: header
        name: user_token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AbsrelRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AbsrelResult'
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized - Invalid user token
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - User does not have permission to access this job
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Job not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Get an ABSREL job result
      tags:
      - ABSREL
  /methods/meme-start:
    post:
      operationId: startMEMEJob
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      - description: Token identifying the user. Required to reference datasets owned
          by the user.
        explode: false
        in: header
        name: user_token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemeRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
          description: Job started successfully.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized - Invalid or missing user token
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - User does not have access to the specified dataset(s)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Not Found - Specified dataset(s) not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDataError'
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Start a MEME analysis
      tags:
      - MEME
  /methods/meme-result:
    get:
      operationId: getMEMEJobById
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      - description: Job ID to fetch results for
        explode: true
        in: query
        name: job_id
        required: true
        schema:
          $ref: '#/components/schemas/Hash'
        style: form
      - description: Token identifying the user
        explode: false
        in: header
        name: user_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemeResult'
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized - Invalid user token
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - User does not have permission to access this job
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Job not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Get a MEME job result by job ID
      tags:
      - MEME
    post:
      operationId: getMEMEJob
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      - description: Token identifying the user
        explode: false
        in: header
        name: user_token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemeRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemeResult'
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized - Invalid user token
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - User does not have permission to access this job
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Job not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Get MEME analysis results
      tags:
      - MEME
  /methods/relax-start:
    post:
      operationId: startRELAXJob
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      - description: Token identifying the user. Required to reference datasets owned
          by the user.
        explode: false
        in: header
        name: user_token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RelaxRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
          description: Job started successfully.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized - Invalid or missing user token
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - User does not have access to the specified dataset(s)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Not Found - Specified dataset(s) not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDataError'
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Start and monitor a RELAX job
      tags:
      - RELAX
  /methods/relax-result:
    get:
      operationId: getRELAXJobById
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      - description: Job ID to fetch results for
        explode: true
        in: query
        name: job_id
        required: true
        schema:
          $ref: '#/components/schemas/Hash'
        style: form
      - description: Token identifying the user
        explode: false
        in: header
        name: user_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelaxResult'
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized - Invalid user token
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - User does not have permission to access this job
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Job not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Get a RELAX job result by job ID
      tags:
      - RELAX
    post:
      operationId: getRELAXJob
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      - description: Token identifying the user
        explode: false
        in: header
        name: user_token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RelaxRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelaxResult'
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized - Invalid user token
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - User does not have permission to access this job
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Job not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Get RELAX analysis results
      tags:
      - RELAX
  /methods/gard-start:
    post:
      operationId: startGARDJob
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      - description: Token identifying the user. Required to reference datasets owned
          by the user.
        explode: false
        in: header
        name: user_token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GardRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
          description: Job started successfully.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized - Invalid or missing user token
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - User does not have access to the specified dataset(s)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Not Found - Specified dataset(s) not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDataError'
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Start a GARD analysis
      tags:
      - GARD
  /methods/gard-result:
    get:
      operationId: getGARDJobById
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      - description: Job ID to fetch results for
        explode: true
        in: query
        name: job_id
        required: true
        schema:
          $ref: '#/components/schemas/Hash'
        style: form
      - description: Token identifying the user
        explode: false
        in: header
        name: user_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GardResult'
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized - Invalid user token
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - User does not have permission to access this job
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Job not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Get a GARD job result by job ID
      tags:
      - GARD
    post:
      operationId: getGARDJob
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      - description: Token identifying the user
        explode: false
        in: header
        name: user_token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GardRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GardResult'
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized - Invalid user token
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - User does not have permission to access this job
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Job not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Get GARD analysis results
      tags:
      - GARD
  /methods/bgm-start:
    post:
      operationId: startBGMJob
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      - description: Token identifying the user. Required to reference datasets owned
          by the user.
        explode: false
        in: header
        name: user_token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BgmRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
          description: Job started successfully.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized - Invalid or missing user token
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - User does not have access to the specified dataset(s)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Not Found - Specified dataset(s) not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDataError'
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Start and monitor a BGM job
      tags:
      - BGM
  /methods/bgm-result:
    get:
      operationId: getBGMJobById
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      - description: Job ID to fetch results for
        explode: true
        in: query
        name: job_id
        required: true
        schema:
          $ref: '#/components/schemas/Hash'
        style: form
      - description: Token identifying the user
        explode: false
        in: header
        name: user_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BgmResult'
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized - Invalid user token
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - User does not have permission to access this job
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Job not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Get a BGM job result by job ID
      tags:
      - BGM
    post:
      operationId: getBGMJob
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BgmRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BgmResult'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Job not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Get a BGM job result
      tags:
      - BGM
  /methods/contrast-fel-start:
    post:
      description: "Starts a Contrast-FEL (Fixed Effects Likelihood with Contrast)\
        \ job to investigate whether selective pressures differ \nbetween two or more\
        \ sets of branches at a site. The method estimates site-specific synonymous\
        \ (alpha) and \nnon-synonymous (beta, one per branch set) substitution rates\
        \ and tests beta rates for equality at each site.\n"
      operationId: startCONTRASTFELJob
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      - description: Token identifying the user. Required to reference datasets owned
          by the user.
        explode: false
        in: header
        name: user_token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContrastFelRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
          description: Job started successfully.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized - Invalid or missing user token
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - User does not have access to the specified dataset(s)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Not Found - Specified dataset(s) not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDataError'
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Start a CONTRAST-FEL analysis
      tags:
      - CONTRAST-FEL
  /methods/contrast-fel-result:
    get:
      operationId: getContrastFELJobById
      parameters:
      - description: Job ID to fetch results for
        explode: true
        in: query
        name: job_id
        required: true
        schema:
          $ref: '#/components/schemas/Hash'
        style: form
      - description: Token identifying the user
        explode: false
        in: header
        name: user_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContrastFelResult'
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized - Invalid user token
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - User does not have permission to access this job
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Job not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Get CONTRAST-FEL job result by job ID
      tags:
      - CONTRAST-FEL
    post:
      description: "Retrieves the results of a previously submitted CONTRAST-FEL job.\
        \ CONTRAST-FEL investigates whether \nselective pressures differ between two\
        \ or more sets of branches at a site by estimating site-specific \nsynonymous\
        \ and non-synonymous substitution rates.\n"
      operationId: getCONTRASTFELJob
      parameters:
      - description: Token identifying the user
        explode: false
        in: header
        name: user_token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContrastFelRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContrastFelResult'
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized - Invalid user token
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - User does not have permission to access this job
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Job not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Get CONTRAST-FEL analysis results
      tags:
      - CONTRAST-FEL
  /methods/fubar-start:
    post:
      description: |
        Starts a Fast Unconstrained Bayesian AppRoximation (FUBAR) job to detect sites under positive selection.
        FUBAR uses a Bayesian approach to infer selection pressures at individual sites, providing posterior
        probabilities of positive and negative selection.
      operationId: startFUBARJob
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      - description: Token identifying the user. Required to reference datasets owned
          by the user.
        explode: false
        in: header
        name: user_token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FubarRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
          description: Job started successfully.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized - Invalid or missing user token
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - User does not have access to the specified dataset(s)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Not Found - Specified dataset(s) not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDataError'
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Start a FUBAR analysis
      tags:
      - FUBAR
  /methods/fubar-result:
    get:
      operationId: getFUBARJobById
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      - description: Job ID to fetch results for
        explode: true
        in: query
        name: job_id
        required: true
        schema:
          $ref: '#/components/schemas/Hash'
        style: form
      - description: Token identifying the user
        explode: false
        in: header
        name: user_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FubarResult'
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized - Invalid user token
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - User does not have permission to access this job
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Job not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Get a FUBAR job result by job ID
      tags:
      - FUBAR
    post:
      description: |
        Retrieves the results of a previously submitted Fast Unconstrained Bayesian AppRoximation (FUBAR) job.
        FUBAR uses a Bayesian approach to infer selection pressures at individual sites, providing posterior
        probabilities of positive and negative selection.
      operationId: getFUBARJob
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      - description: Token identifying the user
        explode: false
        in: header
        name: user_token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FubarRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FubarResult'
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized - Invalid user token
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - User does not have permission to access this job
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Job not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Get FUBAR analysis results
      tags:
      - FUBAR
  /methods/multihit-start:
    post:
      description: "MULTI-HIT (Multiple Hit) examines whether or not a codon alignment\
        \ is better fit by models \nwhich permit multiple instantaneous substitutions.\
        \ It can analyze both double-hit and \ntriple-hit substitutions, with an option\
        \ to account for synonymous triple-hit substitutions.\n"
      operationId: startMULTIHITJob
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      - description: Token identifying the user. Required to reference datasets owned
          by the user.
        explode: false
        in: header
        name: user_token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultihitRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
          description: Job started successfully.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized - Invalid or missing user token
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - User does not have access to the specified dataset(s)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Not Found - Specified dataset(s) not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDataError'
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Start a MULTI-HIT analysis
      tags:
      - MULTI-HIT
  /methods/multihit-result:
    get:
      operationId: getMULTIHITJobById
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      - description: Job ID to fetch results for
        explode: true
        in: query
        name: job_id
        required: true
        schema:
          $ref: '#/components/schemas/Hash'
        style: form
      - description: Token identifying the user
        explode: false
        in: header
        name: user_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultihitResult'
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized - Invalid user token
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - User does not have permission to access this job
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Job not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Get a MULTI-HIT job result by job ID
      tags:
      - MULTI-HIT
    post:
      description: |
        Retrieve the results of a previously submitted MULTI-HIT analysis job.
        Results include evidence ratios for different substitution types, site-specific substitutions,
        model fitting information, and statistical test results comparing different models.
      operationId: getMULTIHITJob
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      - description: Token identifying the user
        explode: false
        in: header
        name: user_token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultihitRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultihitResult'
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized - Invalid user token
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - User does not have permission to access this job
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Job not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Get MULTI-HIT analysis results
      tags:
      - MULTI-HIT
  /methods/slac-start:
    post:
      description: |
        SLAC (Single Likelihood Ancestor Counting) uses a maximum likelihood ancestral state reconstruction
        and minimum path substitution counting to estimate site-level dS and dN, and applies a simple
        binomial-based test to test if dS differs from dN. The estimates aggregate information over all branches,
        so the signal is derived from pervasive diversification or conservation.
      operationId: startSLACJob
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      - description: Token identifying the user. Required to reference datasets owned
          by the user.
        explode: false
        in: header
        name: user_token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SlacRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
          description: Job started successfully.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized - Invalid or missing user token
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - User does not have access to the specified dataset(s)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Not Found - Specified dataset(s) not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDataError'
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Start a SLAC analysis
      tags:
      - SLAC
  /methods/slac-result:
    get:
      operationId: getSLACJobById
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      - description: Job ID to fetch results for
        explode: true
        in: query
        name: job_id
        required: true
        schema:
          $ref: '#/components/schemas/Hash'
        style: form
      - description: Token identifying the user
        explode: false
        in: header
        name: user_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlacResult'
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized - Invalid user token
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - User does not have permission to access this job
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Job not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Get a SLAC job result by job ID
      tags:
      - SLAC
    post:
      description: |
        Retrieve the results of a previously submitted SLAC (Single Likelihood Ancestor Counting) analysis job.
        Results include model fitting information, branch attributes, and site-specific dN/dS estimates.
      operationId: getSLACJob
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      - description: Token identifying the user
        explode: false
        in: header
        name: user_token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SlacRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlacResult'
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized - Invalid user token
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - User does not have permission to access this job
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Job not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Get SLAC analysis results
      tags:
      - SLAC
  /methods/nrm-start:
    post:
      operationId: startNRMJob
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      - description: Token identifying the user. Required to reference datasets owned
          by the user.
        explode: false
        in: header
        name: user_token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NrmRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
          description: Job started successfully.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized - Invalid or missing user token
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - User does not have access to the specified dataset(s)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Not Found - Specified dataset(s) not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDataError'
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Start and monitor an NRM (Nucleotide Non-Reversible Model) job
      tags:
      - NRM
  /methods/nrm-result:
    get:
      operationId: getNRMJobById
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
      - description: Job ID to fetch results for
        explode: true
        in: query
        name: job_id
        required: true
        schema:
          $ref: '#/components/schemas/Hash'
        style: form
      - description: Token identifying the user
        explode: false
        in: header
        name: user_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NrmResult'
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized - Invalid user token
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - User does not have permission to access this job
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Job not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
          description: Internal Server Error
      summary: Get an NRM job result by job ID
      tags:
      - NRM
    post:
      operationId: getNRMJob
      parameters:
      - description: Pretty print response
        explode: true
        in: query
        name: pretty_print
        required: false
        schema:
          type: boolean
        style: form
[...]
